{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "camelcase": 0,
    "import/no-unresolved": 0,
    "global-require": 0,
    "no-console": 0,
    "max-len": 0,
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ]
  },
  "plugins": [
    "react",
    "jsx-a11y"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  }
}
